@charset "UTF-8";

* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

header,
section,
footer {
  margin: 20px 10px 20px 20px;
}

h2 {
  margin-top: 30px;
  text-align: center;
  width: 100%;
}

main {
  background-color: rgb(207, 207, 207);
}

section {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  text-align: justify;
}

p {
  word-spacing: 0.3em;
  letter-spacing: 0.1em;
  line-height: 1.5em;
  text-indent: 2em;
  margin-top: 20px;
  margin-right: 10px;
}

.media-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

div#texto {
  display: flex;
  flex-flow: column wrap;
}

iframe {
  flex: 1 1 400px;
}
